<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h3> Weather Forecast </h3>
    <%= form_tag(check_weather_path, :method => :get, :id => "forecast_form") do %>
      <div>
        <%= text_field_tag :address, nil, placeholder: 'Enter address' %>
        <%= text_field_tag :zipcode, nil, placeholder: 'Enter Zipcode' %>
        <%= submit_tag 'Search' %>
      </div>
    <% end %>
  </div>
</nav>